* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family:'Open Sans', sans-serif;
}

.container {
    width: 100%;
}

/* Formatação frente */
.home {
    background-image: url(img-web/s1\ ft1.png);
    background-color: rgba(0, 0, 0, 0.808);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    margin: 0.9rem 4.3rem;
    float: left;
}

.nav {
    margin-right: 5rem;
}

.nav a {   
    font-size: 0.75rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin: 1.5rem 0.9rem;
}

.home-text {
    margin-top: auto;
}


.home-text h1 {
    text-transform: uppercase;
    color: white;
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
}

.home-text p {
    color: white;
    font-size: 0.85rem; 
    text-align: center;
    margin-top: 3.1rem;
}

.text-yellow {
    color: #efe60b;
}

.botao {
    width: fit-content;
    white-space: nowrap;
    background-color: #1cd4e9;
    color: white;
    padding: 1.2rem 1.5rem;
    border-radius: 2rem;
    font-size: 0.75rem;   
    font-weight: 800; 
    margin-top: auto;  
    margin-bottom: 1.5rem;
    border: 1px solid #1cd4e9; 
}

/* 
    Formatação meio
-------------------------------  */

.meio {
    background-image: url(img-web/bg.png);
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;  
}

/*
    Formatação sobre
-------------------------------  */

.sobre h1 {
    text-transform: uppercase;
    color: black;
    font-size: 2em;
    font-weight: bold;
    margin: 0 4.4rem;
    padding-top: 2rem;
}

.caixa {
    width: 40rem;
    margin: 2rem 4.4rem;
    padding: 0 20px 20px 20px;
    background-color: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.sobre p {
    font-size: 0.75rem;
    text-align: justify;
    padding-top: 1.25rem;
} 

/* 
    Formatação serviços
--------------------------- */

.service-float {
    display: flex;
    align-items: center;
    justify-content: space-between;     
    padding: 0 2rem;
    
}

.title h1 {
    text-transform: uppercase;
    color: black;
    font-size: 2em;
    font-weight: bold;
    margin: 3.1rem 4.4rem;
}


.service {
    background-image: url(img-web/s3\ ft1.png);
    background-repeat: no-repeat;
    max-width: 350px;
    background-size: contain;     
}

.service h2 {
    color: yellow;
    text-align: center;
    padding: 1.8rem;
    text-transform: uppercase;
    font-size: 1rem;
}

.service p {
    color: white;
    font-size: 0.8rem;
    text-indent: 2px;
 
    text-align: center;    
    padding: 2.5rem;
}

.midia {
    background-image: url(img-web/s3\ ft2.png);
    background-repeat: no-repeat;
    max-width: 350px;
    background-size: contain;
}

.midia p {
    color: white;
    font-size: 0.8rem;
    text-indent: 2px;
    text-align: center;    
    padding: 2.5rem;
}

.midia h2 {
    color: yellow;
    text-align: center;
    padding: 1.8rem;  
    font-size: 1rem;  
}

.tecnologia {
    background-image: url(img-web/s3\ ft3.png);
    background-repeat: no-repeat;
    max-width: 350px;
    background-size: contain;
}

.tecnologia p {
    color: white;
    font-size: 0.8rem;
    text-indent: 2px;
 
    text-align: center;    
    padding: 2.5rem;
}

.tecnologia h2 {
    color: yellow;
    text-align: center;
    padding: 1.8rem;
    font-size: 1rem;
}

/* 
    Formatação diferenciais 
------------------------ */
.box {
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 2rem;
    height: 43rem;
}

.box div {
    position: relative;
}

.box div p {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 2rem;
}

.differentials-float {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;    
}

.conteudo1 {
    background-image: url(img-web/s4\ ft1.png);
    background-repeat: no-repeat;    
    width: 100%;
    height: 100%;
    
}

.conteudo2 {
    background-image: url(img-web/s4\ ft2.png);
    background-repeat: no-repeat;    
    width: 100%;
    height: 100%;
}


.conteudo3 {
    background-image: url(img-web/s4\ ft3.png);
    background-repeat: no-repeat;  
    width: 100%;
    height: 100%;  
}


/*
    Formatação final
------------------------------------ */

.border {
    width: 100%;
    height: 2.5rem;
    background: #efe60b;
}

.contato {
    width: 100%;
    height: 34rem;
    background: #191919;
}

.flex {
    display: flex;
    justify-content: space-around;     
}

.box-left {
    display: flex;
    flex-direction: column;
}

.contato-midias {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.logo-contato {
    padding-top: 2.5rem;  
}

.social-media a:nth-child(even) {    
    margin-left: 2.2rem;        
}

.social-media {
    padding-top: 2.5rem;
    margin-left: 6rem;
}

.e-mail-tel {
    padding-top: 1.5rem;  
    display: flex;
    align-items: baseline;
}

.barra {
    color: rgb(177, 176, 176);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.color-text {
    color: rgb(177, 176, 176);
    font-size: 0.75rem;
    padding-left: 0.5rem;
}

.adress {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;  
    display: flex;
    align-items: baseline;
}

.adress-color {
    color: rgb(177, 176, 176);
    font-size: 0.5rem;
    padding-left: 0.5rem;
    line-height: 1rem;
}

.information p {
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0.65rem 0.65rem 0.65rem 0;
    text-align: justify;
}

/*
	Formatação formulário
------------------------------ */

.form {
	background-color: #818181;
	width: 24rem;
	height: 25rem;
    margin-top: 2.5rem;      
}

input {
	height: 2.6rem;
	width: 90%;
	font-size: 1.2rem;
	margin-left: 1rem;
    margin-top: 1.2rem;
	background-color: #fff;
	padding-left: 0.6rem;	
    border: none;
    color: #d6d6d6;
}

.box-mensage {
    height: 7rem;
    text-align: start;    
}

.button {
    height: 2.5rem;
	width: 90%;
    text-transform: uppercase;
    background-color: #1cd4e9;
    color: white;   
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 1rem;      
    margin-top: 2rem;  
    margin-bottom: 1rem;
    border: 1px solid #1cd4e9; 
}


/* 
    Media
-------------------------------*/

/*
@media (max-width: 990px) {
   nav {
       display: none;
   }

   .one,
   .two,
   .three {
       background-color: white;
       height: 5px;
       width: 100%;
       margin: 6px auto;
   }

   .menu-toggle {
       width: 40px;
       height: 30px;
       margin-right: 20px;
   }

 /*fullscreen 
 .menu-section.on {
     position: absolute;
     top: 0;
     left: 0;

     width: 100vw;
     height: 100vh;

     z-index: 10;
 } 
 
 .menu-section.on nav {
     display: block;
 }
 
} */
